1.pip install googletrans==4.0.0-rc1
2.pip install selenium googletrans==4.0.0-rc1 requests
3.pip3 install selenium googletrans==4.0.0-rc1 requests
4.pip install Pillow
5.pip3 install Pillow
6.pip3 install beautifulsoup4
